.progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient( #0AC6FA 75%, #92fa9c 0);
}

.progress-bar::before {
  content: attr(percentage);
  // content: "75%";
}
