.progress-bar {
  width: 174px;
  height: 174px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, $white 79%, transparent 80% 100%),
    conic-gradient( $blue 1%, $gray 0);
}

.progress-bar::before {
  content: attr(percentage);
  font-size: 24px;
  font-family: $headers-font;
  color: $black;
  // content: "75%";
}
