<div class="container mt-5 text-center">
<%= month_calendar(events: @tasks) do |date, tasks| %>
      <%= date %>
      <% tasks.each do |task| %>
      <div>
        <%= task.activity %>
      </div>
      <% end %>
    <% end %>
</div>
