<div class="container mt-5 text-center">
<%= month_calendar(events: @tasks) do |date, events| %>
      <%= date %>
      <% events.each do |event| %>
      <div>
        <%= event.activity %>
      </div>
      <% end %>
    <% end %>
</div>
