<div class="container d-flex">
  <div class="mt-3 mb-5 mx-3 white-background">
  <h1 class="title-h1">Add a new task to <br> <bdi class="ms-5">"<%= @plan.name.camelize(:lower) %>"</bdi></h1>

  <div class="">
    <%= render 'form' %>
  </div>
</div>
