<div class="container-md my-5 d-flex flex-column">
  <h1>Create a new task for <%= @plan.name.camelize(:lower) %></h1>

  <div class="m-3 mt-5 col-9 align-self-center">
    <%= render 'form' %>
  </div>
</div>
