    <div class="wrapper" data-controller="togglenavbar">
        <!-- Sidebar  -->
        <nav id="sidebar" data-togglenavbar-target="sidenavbar">
            <div class="sidebar-header">
              <%= link_to authenticated_root_path, class:"side-navbar d-flex flex-row align-items-start text-decoration-none text-white" do %>
              <h3><i class="fa-solid fa-house"></i>&nbsp Board</h3>
              <% end %>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#">Canvas</a>
                </li>
                <li>
                    <a href="#">To-do list</a>
                </li>
                <li>
                <li class="active">
                    <a href="#homeSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">Plans</a>
                    <div class="go-"></div>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                    <% @plans.each do |plan| %>
                      <li><%= link_to plan.name, plan_path(plan) %></li>
                    <% end %>
                    </ul>
                </li>
                <li>
            <%# <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">Download source</a>
                </li>
                <li>
                    <a href="#" class="article">Back to article</a>
                </li>
            </ul> %>
        </nav>
        <div id="main">
          <button class="openbtn" data-action="click->togglenavbar#toggleNav"><i class="fa-solid fa-bars"></i></button>
        </div>
    <script src="script.js">
    </script>
      <!-- jQuery CDN - Slim version (=without AJAX) -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <!-- Popper.JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>




<%# <i class="fas fa-align-left"> %>
