<%# <% if current_user %> %>
  <%# <%= redirect_to user_root %> %>
<%# <% else %> %>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>All the info from the app to sell, features <br>
  login and sign up for the first time happen here.
</p>
<p>I AM NOT LOG IN</p>
  <%= render "shared/navbar" %>

<%# <% end %> %>
