<div class="container container-fix d-flex">
  <div class="mt-3 mb-5 mx-3 white-background d-flex w-100 flex-column height-min">
  <h1 class="title-h1">Change your sub for <br> <bdi class="ms-5"><%= @subtask.activity.camelize(:lower) %></bdi></h1>

  <div class="form-container">
    <%= render 'form_edit' %>
  </div>
</div>
