.progress-bar {
  width: 174px;
  height: 174px;
  border-radius: 50%;
  background:
    // radial-gradient(closest-side, $white 69%, transparent 70%  100%),
    radial-gradient(closest-side, $white 69%, transparent 70%, rgba(0,0,0,0.05) 70%, transparent 78%),
    // radial-gradient(closest-side, $white 69%, rgba(0,0,0,0.1) 70%, transparent 78% 100%),
    conic-gradient( $blue 0%, $light-gray 0);
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.progress-bar::before {
  content: attr(percentage);
  font-size: 24px;
  font-family: $headers-font;
  color: $black;
  // content: "75%";
}


.bigger-progress .progress-bar {
  width: 225px;
  height: 225px;
}
