.sdw-box-red {
  -webkit-box-shadow: 4px 4px 0 $red;
  box-shadow: 4px 4px 0 $red;
}
.sdw-box-blue {
  -webkit-box-shadow: 4px 4px 0 $red;
  box-shadow: 4px 4px 0 $blue;
}
.sdw-box-orange {
  -webkit-box-shadow: 4px 4px 0 $red;
  box-shadow: 4px 4px 0 $orange;
}
