// @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#main {
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #25D0B6;
  color: $white;
  height: 100vh;
  z-index: 1;
}

.openbtn {
  font-size: 1.4rem;
  cursor: pointer;
  background-color: $turquoise;
  color: $white;
  padding: 1.4rem 1.2rem;
  border: none;
  z-index: 1;
}
.openbtn:hover {
  background-color: $sky-blue;
}
.side-navbar h3{
    text-shadow: 0 0 3px rgba(0,0,0,0.6);
    margin: 1.4rem 0;
}

#sidebar{
  p {
    // font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #FFF;
    text-shadow: 0 0 3px rgba(0,0,0,0.6);
    text-decoration: none;
  }
  .list-unstyled a,
  a:hover,
  a:focus {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
    text-shadow: 0 0 3px rgba(0,0,0,0.6);
  }
}

.inactive{
  width: 0;
  display: none;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: 100vh;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #25D0B6;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 0rem 1.4rem;
    background: $turquoise;
}

#sidebar ul.components {
    padding: 20px 0;
    // border-bottom: 1px solid $turquoise;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: $dark;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #4ee0cb;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4ee0cb;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

// a.download {
//     background: #fff;
//     color: #4ee0cb;
// }

// a.article,
// a.article:hover {
//     background: #4ee0cb !important;
//     color: #fff !important;
// }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
