
#main {
  // font-size: 4rem;
  // background-color: #25D0B6;
  color: $white;
  min-height: 100vh;
  z-index: 1;

}

.openbtn {
  margin-top: 20px;
  min-height: 5rem;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: $blue;
  color: $white;
  padding: 0rem 1rem;
  border: none;
  z-index: 1;
  border-radius: 0 12px 12px 0;
  -webkit-box-shadow: 4px 4px 0 $red;
  box-shadow: 4px 4px 0 $red;
}

.openbtn:hover {
  background: linear-gradient(90deg, $blue 5%, rgb(132, 208, 244) 100%);
  color: $red;
}

.openbtn-after {
  border-top: 4px solid $red;
  width: 4px;
}

.side-navbar h3{
    text-shadow: 0 0 3px rgba(0,0,0,0.6);
    margin: 1.4rem 0;
}

#sidebar{
  p {
    font-size: 1.2em;
    font-weight: bold;
    font-weight: 300;
    line-height: 1.7em;
    color: $white;
    text-shadow: 0 0 3px rgba(0,0,0,0.6);
    text-decoration: none;
  }
  .list-unstyled a,
  a:hover,
  a:focus {
    color: $black;
    text-decoration: none;
    transition: all 0.3s;
    // text-shadow: 0 0 3px rgba(0,0,0,0.6);
  }
}

.sidenavbar-inactive{
  width: 0;
  display: none;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper-sidebar {
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: 100vh;
}

#sidebar {
  min-width: 200px;
  max-width: 210px;
  color: $white;
  transition: all 0.3s;
}

#sidebar .whitetop {
  height: 20px;
  background-color: $white;
  border-radius: 0 12px 0 0;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {

  min-height: 5rem;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: $blue;
  color: $white;
  padding: 0rem 1rem;
  border: none;
  z-index: 0;
  -webkit-box-shadow: 4px 4px 0 $red;
  box-shadow: 4px 4px 0 $red;
}

#sidebar ul.components {
  padding: 1.2rem 0;
  border-top: 4px solid $red;
  background-color: $white;
  border-radius: 0 0 12px 0;
  padding-bottom: 2rem;
}

#sidebar ul p {
    color: $white;
    padding: 10px;
}

#sidebar ul li a {
    padding: 1rem;
    padding-left: 2rem;
    font-size: 1.2em;
    display: block;
    width: 94%;
    margin: 0 auto;
    border-bottom: 1px solid $medium-gray;
}

#sidebar ul li a:hover {
    color: $white;
    background: $blue;
    border-radius: 12px;
    width: 94%;
    margin: 0 auto;
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: $white;
    background: $blue;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
    width: 94%;
    margin: 0 auto;
    padding: 0;
    padding-top: 0.3rem;
}


#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: $white;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 1em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

// a.download {
//     background: #fff;
//     color: #4ee0cb;
// }

// a.article,
// a.article:hover {
//     background: #4ee0cb !important;
//     color: #fff !important;
// }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.sidebar-plan {
  font-weight: bold !important;
}
// .sidebar-plan a::before {
//   content: "◆" !important;
//   padding-right: 0.4rem;
//   font-weight: 400 !important;
//   text-shadow: 0 0 0 rgba(0,0,0,0) !important;
// }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
