.simple-calendar {

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: $white;
    border: none;
    border-collapse: collapse;
    box-sizing:content-box;
    max-width: 100%;
    width: 980px;
  }
  thead {
    height: 40px !important;
  }
  .calendar-title {
    font-weight: 500;
    font-size: 32px;
    color: $deep-blue;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 12px;
    height: 100px !important;
    /* border-bottom: 2px solid #dddddd; */
    /* border-collapse: collapse; */
    /* border-left: 1px solid #dddddd; */
    /* border-right: 1px solid #dddddd; */
    /* border-top: 0px none #333333; */
    box-sizing: border-box;
    text-align: left;
  }

  tr:first-child> th{
    height: 40px !important;
  }
  height: 100px !important;

  td {
    height: 100px !important;
    padding: 12px;
    vertical-align: top;
    width: 100px !important;

    // border: 1px solid #ddd;
    border-top-color: $light-gray;
    border-top-style: solid;
    border-top-width: 1px;
    // border-right-color: rgb(221, 221, 221);
    // border-right-style: solid;
    // border-right-width: 1px;
    border-bottom-color: $light-gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    // border-left-color: rgb(221, 221, 221);
    // border-left-style: solid;
    // border-left-width: 1px;
  }

  .calendar-heading nav {
    display: inline-block;
  }


  .calendar-heading a {
    text-decoration: none !important;
  }

  .day {
    height: 50px;
    width: 50px;
  }

  .wday-0 {
    background: $white;
  }
  .wday-1 {
    background: $white;
  }
  .wday-2 {
    background: $white;
  }
  .wday-3 {
    background: $white;
  }
  .wday-4 {
    background: $white;
  }
  .wday-5 {
    background: $white;
  }
  .wday-6 {
    background: $white;
  }

  .today {
    background: $blue;
    color: $white;
    font-weight: bold;
  }

  .today::after {
    padding: 1rem auto;
    font-size: 400;
    font-weight: bold;
    content: "today";
    display: flex;
    flex-wrap: wrap;
  }

  .past {
    background: $white;
  }
  .future {
    background: $white;
  }

  .start-date {
    background: $white;
  }

  .prev-month {
    background: $light-gray;
  }
  .next-month {
    background: $light-gray;
  }
  .current-month {
    background: $white;
  }

  .has-events {
    background: $orange;
    text-decoration: none;
    color: $white;
    font-weight: 400;
    font-size: small;
  }
  .has-events a{
    text-decoration: none;
    color: $white;
    // font-size: initial;
    font-weight: bold;
  }

}
