.tasks {
  text-decoration: none;
  font-size: 1em;
  line-height: 1.2em;
}

.task-due {
  font-size: 0.9em;
}

.tasks .color-status {
  width: 15px;
  height: 38px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.task-0 {
  background: $blue;
}

.task-1 {
  background: $orange;
}

.task-2 {
  background: $red;
}

.done {
  text-decoration: none;
  color: $dark-gray;
}

.new-task, .done .color-status {
  background: $light-gray !important;
}

.done bdi{
  text-decoration: line-through;
  font-style: italic;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#menu-dropdown {
  color: $gray;
}

#menu-dropdown .dropdown-toggle::after {
  content: none;
}

button#menu-dropdown:hover {
  color: $black;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.task-chevron {
  padding-left: 1rem;
  font-size: 0.8em;
}

.done bdi .task-chevron{
  text-decoration: none;
  color: $dark-gray;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


button.task-chevron {
  border: none;
}

.tasks:hover button.task-chevron i{
  display: inline-block;
  transform: rotate(90deg);
}
