<h1>My view on all my plans</h1>

<ul>
  <% @plans.each do |plan| %>
    <li>
      <%= plan.name %>
      <ul>
        <% plan.tasks.each do |task|  %>
          <li><%= task.activity %></li>
        <% end %>
      </ul>
          <%= link_to "edit my plan",  edit_plan_path(plan), class: 'btn' %>
          <%= link_to "delete", plan_path(plan), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"  }, class: 'btn' %>
    </li>
  <% end %>
</ul>
